:root {
  --main-color: #f7f3ed;
  --contrast-color: #FE4A11;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}
main {
  background-color: var(--main-color);
  min-height: calc(100vh - 356px);
  border-top: inset medium var(--contrast-color);
  border-bottom: outset medium var(--contrast-color);
}
footer {
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: var(--contrast-color);
  min-height: 250px;
  width: 100vw;
}