:root {
  --main-color: #f7f3ed;
  --contrast-color: #FE4A11;
  --contrast-muted: #F99B55;
  --primary-text: #000000;
  --contrast-text: #2590AE;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}
header ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  color: var(--primary-text);
  min-height: 100px;
  font-size: 1.5em;
  align-items: center;
}
header ul li:hover {
  height: 100%;
  text-shadow: 0px 0px 3px var(--contrast-text);
  cursor: pointer;
}
main {
  background-color: var(--main-color);
  min-height: calc(100vh - 356px);
  border-top: inset medium var(--contrast-color);
  border-bottom: outset medium var(--contrast-color);
  padding: 2em 4em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

main h1 {
  width: 100%;
  padding: 0 1em;
}
.error {
  color: var(--contrast-color);
  position: absolute;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  flex-shrink: 1;
  position: relative;
  min-height: 18vh;
  min-width: 33vw;
  margin: 2em;
  background: var(--contrast-muted);
  border: thick double var(--contrast-text);
}

.card .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform: rotate3d(5, 5, 3, -10deg);
  font-family: Lobster, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  height: 3em;
  position: absolute;
  top: 0;
  bottom: 0px;
  right: 0;
  left: 0;
  margin-top: .5em;
  padding-top: 0;
  font-size: 4em;
  color: white;
  text-align: center;
}

.card a {
  text-decoration: none;
}

.card .link {
  position: absolute;
  top: .25em;
  right: .25em;
  z-index: 1;
}

.card .desc {
  bottom: 1em;
  height: 3em;
  position: absolute;
  left: 0;
  bottom: -1em;
  right: 0;
  /* line-height: 3em; */
  color: white;
  text-align: center;
  -webkit-backdrop-filter: contrast(0.5);
  backdrop-filter: contrast(0.5);
}

.card img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.form button {
  padding: 1em;
  margin: 3em auto;
  width: 100%;
  background-color: var(--contrast-text);
  color: white;
}
.form {
  border: medium double var(--contrast-text);
  background-color: var(--contrast-muted);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  min-width: 315px;
}
.form form {
  padding: 4em;
}
.form .form-control {
  padding: 1em;
  color: white;
}
.form label, .form input, .form textarea {
  width: 100%;
}

blockquote {
  padding: 1em 0;
  font-size: 18px;
}

footer {
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: var(--contrast-color);
  min-height: 250px;
  width: 100vw;
}
.popover {
  position: fixed;
  min-width: 400px;
  min-height: 200px;
  background: var(--main-color);
  border: double medium var(--contrast-text);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  top: 12vh;
  left: calc(50vw - 250px);
  padding: 2em;
}
.popover .buttons {
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
  padding: 1em;
  width: 80%;
}

.popover .buttons button {
  padding: 1em 2em;
  background: var(--contrast-text);
  color: white;
}

@media screen and (max-width: 1000px) {
  .card {
    min-width: 50vw;
  }
}
@media screen and (max-width: 980px) {
  .card {
    min-width: 70vw;
  }
}